body {
  margin: 0;
  font-family: 'Cormorant Garamond', serif !important;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
h1 {
  font-size: 5rem;
  font-weight: 700;
  margin-top: 30px;
}
h2 {
  font-size: 4.5rem;
  font-weight: 600;
  margin-top: 0;
}
h3 {
  font-size: 4rem;
  font-weight: 500;
  margin-top: 0;
}
h4 {
  font-size: 3.5rem;
  font-weight: 500;
  margin-top: 0;
}
h5 {
  font-size: 3rem;
  font-weight:500;
  margin-top: 0;
  margin-bottom: 40px;
}
h6 {
  font-size: 2.5rem;
  font-weight: 400;
  margin-top: 0;
}
p {
  font-size: 2rem;
  font-weight: 400;
  margin-top: 0;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
